@import url("https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  background: black;
  color: white;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* spinner */
.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Asegura que el spinner esté por encima de todo */
}

.spinner {
  width: 100px;
  height: 100px;
  border: 10px solid rgba(255, 255, 255, 0.3); /* Estilo del borde */
  border-top-color: black; /* Color del borde superior */
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Animación giratoria */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


/* form */
.container {
  max-width: 700px;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #000000;
  padding: 40px;
}

.card h1 {
  font-family: "Exo", sans-serif;
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

.card h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

.form-label {
  color: #000000;
  margin-bottom: 5px;
}

.form-control {
  color: #000000;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 10px;
}

.form-control:focus {
  outline: none;
  border: 1px solid #000000;
  box-shadow: none;
}

.btn-primary {
  background-color: #000000;
  border: none;
  color: #ffffff;
  transition: background-color 0.3s;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.btn-primary:hover {
  background-color: #0f0f0f;
}

a {
  color: #000000;
  text-decoration: line;
}

a:hover {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 2rem;
}
